.diamondback, .banshee, .orion, .copperheadStrikeLogo, .furyLift, .furyLogo, .gatekeeperLogo, .millenniumforce, .nighthawkLoop, .raptor, .steelVengeance, .steelVengeanceLogo, .valravnLogo, .wickedtwister, .ironDragonTrains, .bansheeLogo
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 1600px;
    height: 750px;
    margin: auto 10px;
    background-size: cover;
    background-position: center;
    background-repeat: round;
    z-index: -10;
}
