.loginForm {
    background-color: var(--prime-color);
    width: 30vw;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    z-index: +10;
}

.loginPanel {
    background: rgba(0, 0, 0, 0.35) url("../../../../../src/Frontend/Images/furyLogo.JPG");
    width: 100vw;
    height: 75vw;
    background-size: cover;
    grid-column: 1/2;
    background-blend-mode: multiply;
    position: absolute;
}

.loginForm h1 {
    width: 100%;
    color: white;
}

.loginForm input {
    width: 85%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 5px;
}
