#root {
    --prime-color: #264e70;
}

button {
    background: #ef6c57;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font: normal bold 18px "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
